<div class="container mt-2">
    <div class="card mx-auto position-relative">

        <div class="card-body mt-4">

            <div class="col-md-3 mb-2">
                <label for="images" class="form-label">Images</label>
                <input id="images" type="file" #file placeholder="Choose file" (change)="uploadFile(file.files)"
                    multiple>
            </div>

            <form action="" [formGroup]="createForm" (ngSubmit)="onSubmit()">

                <label class="sale-label " [ngClass]="{'on-sale': isOnSale(), 'no-sale': !isOnSale()}">
                    <input type="checkbox" formControlName="isOnSale" class="hidden-checkbox">
                    {{ isOnSale() ? 'On Sale!' : 'Not on Sale' }}
                </label>

                <div class="mb-1">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" id="name" class="form-control" formControlName="name">
                </div>

                <div class="mb-1">
                    <label for="name" class="form-label">Description</label>
                    <textarea rows="4" cols="50" class="form-control" formControlName="description"></textarea>
                </div>

                <div class="mb-1">
                    <app-category-list [categories]="categories"
                        (categoriesChange)="updateCategories($event)"></app-category-list>
                </div>

                <div class="row mb-3">
                    <div class="form-group col-md-4">
                        <label for="units-in-stock" class="form-label">Units in stock</label>
                        <input type="text" id="units-in-stock" class="form-control" formControlName="unitsInStock">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="old-price" class="form-label">Old Price</label>
                        <input id="old-price" class="price-old" type="text" class="form-control" formControlName="oldPrice">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="new-price" class="form-label">New Price</label>
                        <input id="new-price" class="price-new" type="text" class="form-control" formControlName="price">
                    </div>
                </div>

                <button type="submit" class="btn btn-primary mb-1">Save</button>
            </form>

        </div>
    </div>
</div>