<div class="container py-5">
    <div class="row row-cols-1 row-cols-md-4 g-4">
        @for(product of productService.products(); track product.id){
        <div class="col">
            <a [routerLink]="product.id.toString()" class="text-decoration-none text-dark">
                <div class="card h-100 shadow-sm">
                    @if(product.isOnSale){
                        <span class="sale-badge">Sale</span>
                    }
                    <img src="assets/images/screw.png" class="card-img-top" alt="{{product.name}}">
                    <div class="card-body">
                        <h5 class="card-title">{{product.name}}</h5>
                        <p class="price">${{product.price}}</p>
                    </div>
                </div>
            </a>
        </div>
        }
    </div>
</div>