<div class="container mt-2">
    <div class="card mx-auto position-relative">
        <div class="sale-label">On Sale!</div>

        <div class="card-body">

            <form action="" [formGroup]="editForm" (ngSubmit)="onSubmit()">

                <div class="mb-1">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" id="name" class="form-control" formControlName="name">
                </div>

                <div class="mb-1">
                    <label for="name" class="form-label">Description</label>
                    <textarea rows="4" cols="50" class="form-control" formControlName="description"></textarea>
                </div>

                <div class="mb-1">
                    <app-category-list [categories]="categories"
                        (categoriesChange)="updateCategories($event)"></app-category-list>
                </div>

                <div class="mb-1">
                    <label for="name" class="form-label">Units in stock</label>
                    <input type="text" id="name" class="form-control" formControlName="unitsInStock">
                </div>

                <div class="price-old mb-1">
                    <label for="name" class="form-label">Old Price</label>
                    <input class="price-old" type="text" class="form-control" formControlName="oldPrice">
                </div>

                <div class="price-new mb-3">
                    <label for="name" class="form-label">New Price</label>
                    <input class="price-new" type="text" class="form-control" formControlName="price">
                </div>

                <button type="submit" class="btn btn-primary mb-1">Save</button>
            </form>
        </div>
    </div>
</div>

<!-- <div class="row" style="margin-bottom:15px;">
    <div class="col-md-3">
        <label for="file">Files</label>
        <input type="file" id="file" #file placeholder="Choose file" (change)="uploadFile(file.files)" multiple>
    </div>
</div> -->

